<div class="page-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1>
                    Fale conosco
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="">
                <form ng-submit="$ctrl.submitContact()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                    Nome</label>
                                <input type="text" class="form-control" id="name" required="required" ng-model="$ctrl.contact.name"/>
                            </div>
                            <div class="form-group">
                                <label for="email">
                                    Email</label>
                                <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-envelope"></span>
                                </span>
                                    <input type="email" class="form-control" id="email" required="required" ng-model="$ctrl.contact.email"/></div>
                            </div>
                            <div class="form-group">
                                <label for="subject">
                                    Assunto</label>
                                <select id="subject" name="subject" class="form-control" required="required" ng-model="$ctrl.contact.subject">
                                    <option value="" selected="" disabled>Escolha um:</option>
                                    <option value="service">Serviço Geral do Consumidor</option>
                                    <option value="suggestions">Sugestões</option>
                                    <option value="product">Suporte do Produto</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="msg">
                                    Mensagem
                                </label>
                                <textarea name="msg" id="msg" class="form-control" rows="9" cols="25" required="required" ng-model="$ctrl.contact.message"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                                Enviar Mensagem</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
                <legend><span class="glyphicon glyphicon-globe"></span> Nosso escritório</legend>
                <address>
                    <strong>SGD</strong><br>
                    Av. Alberto Carazzai, 1640 - Centro<br>
                    Cornélio Procópio - PR, 86300-000<br>
                </address>
                <address>
                    <strong>SGD</strong><br>
                    <a href="mailto:#">sgd@gmail.com</a>
                </address>
            </form>
        </div>
    </div>
</div>