<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="stylesheet/vendor/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="stylesheet/custom/app.css"/>

	<title>Controle de despesas</title>
</head>
<body ng-app="app">

	<header ng-include="'view/partials/header.html'", name="header", ng-if="current_view.current.name !== 'login'"></header>

	<aside ng-include="'view/partials/aside-menu.html'" name="aside-menu", ng-if="current_view.current.name !== 'login'"></aside>

	<section>
  		<div ui-view></div>
	</section>	

	<footer ng-include="'view/partials/baseboard.html'", ng-if="current_view.current.name !== 'login'"></footer>
	
	<script src="js/vendor/jquery-3.2.1.js"></script>
	<script src="js/vendor/bootstrap.js"></script>
	<script src="js/vendor/angular.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
	<script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>

	<script src="js/custom/app.module.js"></script>
	<script src="js/custom/auth.service.js"></script>

	<script src="js/custom/login/login.controller.js"></script>


</body>
</html>>