<nav class="navbar  navbar-fixed-top  navbar-default  js-sticky-reference" id="main-navbar">
	<div class="container-fluid">

		<div class="navbar-header">
	      <a class="navbar-brand  hidden-xs" ui-sref="app.expenses">
	        <img alt="SGD" src=""/>
	      </a>

	      <ul class="nav  navbar-nav">
	        <li>
	          <a class="js-sidebar-toggle click"><i class="fa  fa-bars"></i></a>
	        </li>
	      </ul>
	    </div>

	    <ul class="nav navbar-nav  nav bar-right pull-right">

			<li style="margin-top: 15px; color: white">
				{{user.profile.name}}
			</li>
	      
	      <li class="click" ng-click="$ctrl.logout()" title="Sair">
	        <a><em class="fa  fa-sign-out"></em></a>
	      </li> 
	    </ul>

	</div>
</nav>